<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/admin-styles.css">
    <link rel="stylesheet" href="/styles/styles-personal-area.css">
    <title>blocked-user</title>
</head>
<body>
<a href="/">
    <div class="home"></div>
</a>
<div class="login-container">
    <form th:action="@{/admin/api/add-user/blockList}" method="post">
        <label>
            ID User:
            <input type="number" name="ID" required max="100000">
            <button class="admin-button admin-button-block">Block</button>
        </label>
    </form>
    <form th:action="@{/admin/api/add-user/unBlock}" method="post">
    <label>
        ID User:
        <input type="number" name="ID" required max="100000">
        <button class="admin-button admin-button-unblock">Unblock</button>
    </label>
        <p th:text="${err}"></p>

    </form>

    <div id="user-list-container">
<h3>Blocked users:</h3>
        <ul th:each="user : ${userList}">
            <li th:text="${user}"></li>
        </ul>
    </div>

</div>
</body>
</html>