<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/help.css">
    <title>HELP</title>
</head>
<body>
<a href="/helpEU">
<button class="button">EU</button>
</a>
<div class="container">
<h3>1. С помощью данной страницы можно просматривать определенные характеристики автомобилей и сравнивать их между собой (на данный момент поддерживаются только автомобили марки Ford).</h3>
<ol> <li>1.1Пожалуйста, пишите запрос без орфографических ошибок, это может повлиять на результат поиска или же вообще привести к ошибке</li>
    <li>1.2 Запрос должен включать в себя:
        <ol> <li>Марку автомобиля</li>
            <li>Модель автомобиля</li>
            <li>Поколение автомобиля</li>
        </ol> Опечатка или использование недостоверной информации в запросе (Например указание неверного поколения автомобиля) может привести к некорректному результату </li>
    <li>1.3 Результат поиска по определенной модели отображает топовую комплектацию данного авто </li>
    <li>1.4 Цена автомобиля носит исключительно информативный характер</li>
</ol> <h3>2. Вы можете добавить автомобиль в избранное, чтобы быстро вернуться к нему в случае необходимости.</h3>
<ol> <li>2.1 Сохраненные автомобили отображаются в вашем личном кабинете</li>
</ol> <h3>3. Сравнение автомобилей происходит по двум параметрам: лошадиные силы и стоимость</h3>
<ol> <li>3.1 Для некоторых автомобилей стоимость может быть не указана, такие авто не доступны к сравнению</li>
</ol> <h3>4. Для регистрации нужно указать уникальный логин (username)</h3>
<ol> <li>4.1 Пароль должен удовлетворять некоторым условиям:
    <ol> <li>Не содержать в себе логин</li>
        <li>Длина от 8 символов</li>
        <li>Не содержать простых последовательностей ("12345") ("qwerty")</li>
        <li>Должен включать в себя минимум 1 строчную, 1 заглавную букву, а также 1 цифру</li>
    </ol> </li> </ol> <h3>5. Внизу главной страницы можно сообщить об ошибке, нажав на соответствующую кнопку</h3>
<ol> <li>5.1 В сообщении об ошибке нужно кратко изложить, где возникла ошибка и как она себя проявляет.</li> </ol>
</div>
</body>
</html>