<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/help.css">
    <title>HELP</title></head>
<body><a href="/help">
    <button class="button">RU</button>
</a>
<div class="container"><h3>1. With this page, you can view specific characteristics of cars and compare them with each
    other (currently only Ford vehicles are supported).</h3>
    <ol>
        <li>1.1 Please write your query without spelling errors, as this may affect the search results or even lead to
            an error.
        </li>
        <li>1.2 The query should include:
            <ol>
                <li>The make of the car</li>
                <li>The model of the car</li>
                <li>
                    Vehicle generation</li>
            </ol>
            Typos or the use of unreliable information in the query (such as specifying an incorrect year of production)
            may result in incorrect results.
        </li>
        <li>1.3 The search result for a specific model displays the top-end equipment of this car.</li>

    </ol>
    <h3>2. You can add a car to your favorites to quickly access it when needed.</h3>
    <ol>
        <li>2.1 Saved cars will be displayed in your personal account.</li>
    </ol>
    <h3>3. Car comparison is based on two parameters: horsepower and cost.</h3>
    <ol>
        <li>3.1 For some cars, the cost may not be indicated, and such cars are not available for comparison.</li>
    </ol>
    <h3>4. To register, you need to provide a unique login (username).</h3>
    <ol>
        <li>4.1 The password must meet certain conditions:
            <ol>
                <li>Must not contain the login</li>
                <li>Must be at least 8 characters long</li>
                <li>Must not contain simple sequences ("12345") ("qwerty")</li>
                <li>Must include at least 1 lowercase letter, 1 uppercase letter, and 1 digit</li>
            </ol>
        </li>
    </ol>
    <h3>5. At the bottom of the main page, you can report an error by clicking on the corresponding button</h3>
    <ol>
        <li>5.1 In the error report, please briefly describe where the error occurred and how it is manifesting.</li>
    </ol>
</div>
</body>
</html>