<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles-personal-area.css">
    <title>personal-area</title>
</head>
<body>

<header>
    <h1>Your Profile</h1>
</header>
<a href="/">
    <div class="home"></div>
</a>
<section class="profile">
    <div class="profile-info">
        <p>Name: <span th:text="${name}"></span></p>
        <p>Age: <span th:text="${age}"></span></p>
    </div>
</section>
<footer>
    <p>&copy; 2024 Car-Engine</p>
</footer>
</body>
</html>