<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles-personal-area.css">
    <title>personal-area</title>
</head>
<body>

<header>
    <h1>Your Profile</h1>
</header>
<a href="/">
    <div class="home"></div>
</a>
<section class="profile">
    <div class="profile-info">
        <div class="user-info">
            <h2>Name</h2>
            <p th:text="${name}"></p>
        </div>
        <div class="user-info">
            <h2>Age</h2>
            <p th:text="${age}"></p>
         </div>
        <form th:action="@{/api/logout}" method="get">
            <input type="submit" value="logout">
        </form>
    </div>
</section>
    <div class="favorite-positions">
    Car comparison:
    Add two cars using the special button next to the search result and click “compare”.
    </div>
    <div class="favorite-positions" th:if="${position1 != null}">
        <h2>favorite positions</h2>
        <ul>
            <li th:text="${position1}"></li>
            <li th:text="${position2}"></li>
        </ul>
        <form th:action="@{/api/car/clear}" method="post">
            <button>clear</button>
        </form>
        <form th:action="@{/car/compare}" method="get" th:if="${position1 != null&&position2!=null}">
            <button>compare</button>
        </form>
    </div>
    <div class="favorite-positions" th:if="${resultCompareCar != null}">
        <div th:utext="${resultCompareCar}"></div>
        <form th:action="@{/engine/me}" method="get">
            <button>ok</button>
        </form>
    </div>

<footer>
    <p>&copy; 2024 Car-Engine</p>
</footer>
</body>
</html>