<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/styles-signUpIn.css">
    <title>Personal account</title>
</head>
<body>
<div class="login-container">
    <h3 th:text="${NotAvailableAge}">Fill in your information</h3>
    <form th:action="@{/api/update-user}" method="post">
        <label>
            Name: <input type="text" name="name" class="form-input" placeholder="your name" required>
        </label>
        <label>
           Age: <input type="number" name="age" class="form-input" placeholder="your age" required min="1" max="100000">
        </label>
        <button type="submit" class="submit-button">change</button>
    </form>
</div>
</body>
</html>