body {
    background-image: url("../image/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.button-continue {
    display: inline-block;
    border-radius: 30px;
    background-color: rgba(232, 13, 13, 0.27);
    border: 1px;
    box-shadow: 0 5px 0 #312224;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: 325px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    top: 609px;
    left: 760px;
}

.button-continue span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-continue span:after {
    content: '\1F50D';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-continue:hover span {
    padding-right: 40px;
}

.button-continue:hover span:after {
    opacity: 1;
    right: 0;
}
